GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_CLIENT_VERSION=
PHONEPE_ENV=SANDBOX
RESEND_API_KEY=
DATABASE_URL=
SESSION_SECRET=
PRODUCT_DRIVE_URL=
FRONTEND_URL=http://localhost:5173
APP_ENV=development
